.pizzas {
    text-align: center;
    background-color: orange;
}
.offered {
    text-align: center;
}
h2, h1 {
    font-style: italic;
    color: red;
}
body {
    margin-top: 20px;
    margin-bottom: 60px;
}
#crust, #size, #topping {
    width: 100%;
}
img {
    height: 200px;
    width: 300px;
    margin: 20px;
}