.pizzas {
    text-align: center;
    background-color: #F99245;
}
.offered {
    text-align: center;
    background-color: lightsalmon;
}
h1 {
    font-style: italic;
    color: black;
}
h2 {
    color: white;
}
body {
    margin-top: 20px;
    margin-bottom: 60px;
}
#crust, #size, #topping {
    width: 100%;
}
img {
    height: 200px;
    width: 300px;
    margin: 20px;
}
.order-section {
    text-align: center;
    background-image: url('../images/pizzaorder.jpg');
    color: white;
}
#delivery {
    width: 20%;
    text-align: center;
}
body {
    background-image: url('../images/pizza1.jpg');
}
#order {
    color: black;
    width: auto;
    height: auto;
    background-color: white;
}